@import './Animation.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@800&display=swap');

@font-face {
    font-family: RocGrotesk-wide;
    src: url('../fonts/Fontspring-DEMO-rocgroteskwide-regular.otf');
}

@font-face {
    font-family: RocGrotesk-basic;
    src: url('../fonts/Fontspring-DEMO-rocgrotesk-regular.otf');
}

@font-face {
    font-family: RocGrotesk-wide-bold;
    src: url('../fonts/Fontspring-DEMO-rocgroteskwide-bold.otf');
}

@keyframes changeOpacity {
    to {
        opacity: 1;
    }
}

@keyframes movePage {
    to {
        width: 100vw;
        left: 0px;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes cardHover {
    to {
        width: 90%;
        height: 90%;
    }
}

@keyframes notCardHover {
    from {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 90%;
        height: 90%;
    }

    to {
        width: 100%;
        height: 100%;
    }
}

@keyframes textClick {
    to {
        font-size: 200px;
        color: white;
    }
}

@keyframes textClick230 {
    to {
        font-size: 220px;
        color: white;
    }
}

@keyframes textUnClick {
    from {
        font-size: 200px;
        color: white;
    }

    to {
        font-size: 210px;
        -webkit-text-stroke: 2px;
        -webkit-text-stroke-color: white;
    }
}

@keyframes textUnClick230 {
    from {
        font-size: 220px;
        color: white;
    }

    to {
        font-size: 230px;
        -webkit-text-stroke: 2px;
        -webkit-text-stroke-color: white;
    }
}

@keyframes cardFadeInLeft {
    to {
        right: 0;
    }
}

@keyframes cardFadeInRight {
    to {
        left: 0;
    }
}

@keyframes cardFadeInUp {
    to {
        bottom: 0;
    }
}

@keyframes cardFadeInDown {
    to {
        top: 0;
    }
}

@keyframes cardFadeOutLeft {
    to {
        top: 400px;
    }
}

@keyframes cardFadeOutRight {
    to {
        bottom: 400px;
    }
}

@keyframes cardFadeOutUp {
    to {
        left: 400px;
    }
}

@keyframes cardFadeOutDown {
    to {
        right: 400px;
    }
}

.wrap {
    height: 100vh;
}

.home-wrap {
    @include singleAnimation(1, movePage, 0s, 2s);

    position: absolute;
    display: flex;
    left: 2000px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: black;

    .title-wrap {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        span {
            font-family: 'RocGrotesk-wide', sans-serif;

            &::selection {
                background-color: transparent;
            }
        }

        .title {
            font-size: 86px;
        }

        .sub-title {
            margin-top: 22px;
            font-size: 20px;
            opacity: 0;
            @include singleAnimation(0, fadeIn, 2s, 1.6s);
        }
    }

    .about-wrap {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .about-title {
            font-family: 'RocGrotesk-wide-bold', sans-serif;
            font-size: 62px;
            line-height: 76px;
        }

        .description {
            margin-top: 20px;
            font-family: 'RocGrotesk-basic', sans-serif;
            font-size: 22px;
        }

        .main {
            margin-right: auto;
            margin-left: 10vw;
        }

        .about-span-box {
            margin-left: auto;
            margin-right: 10vw;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .sub {
                margin-right: auto;
            }
        }
    }

    .circle-wrap {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .circle-title {
            font-family: 'RocGrotesk-wide-bold';
            font-size: 62px;
            position: absolute;
            right: 60vw;
            margin-top: -30vw;
            line-height: 76px;
            z-index: 2;
        }

        .circle {
            display: flex;
            width: fit-content;
            height: 40vw;

            .main-circle {
                width: 40vw;
                height: 40vw;
                border-radius: 20vw;
                position: absolute;
                background: none 0% 0% / contain;
                isolation: isolate;
            }

            .sub-circle {
                width: 30vw;
                height: 30vw;
                border-radius: 999px;
                margin-left: 35vw;
                z-index: 1;
                background-color: black;
            }
        }

        .circle-subtitle {
            text-align: right;
            font-family: 'RocGrotesk-wide-bold';
            font-size: 62px;
            line-height: 76px;
            position: absolute;
            left: 70vw;
            margin-top: 28vw;
        }
    }

    .card-wrap {
        width: 100vw;
        height: 100vh;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .card-text {
            font-weight: 800;
            font-size: 210px;
            color: transparent;
            font-family: 'Noto Sans', sans-serif;
            position: absolute;
        }

        .all {
            @include singleAnimation(1, textUnClick, 0s, 0.4s);

            margin-top: -30vw;
            margin-right: 63vw;

            &:hover {
                @include singleAnimation(1, textClick, 0s, 0.4s);
            }
        }

        .me {
            @include singleAnimation(1, textUnClick, 0s, 0.4s);

            margin-right: 70vw;
            margin-top: -3vw;

            &:hover {
                @include singleAnimation(1, textClick, 0s, 0.4s);
            }
        }

        .ex {
            @include singleAnimation(1, textUnClick230, 0s, 0.4s);

            font-size: 230px;
            margin-top: 25vw;
            margin-right: 72vw;

            &:hover {
                @include singleAnimation(1, textClick230, 0s, 0.4s);
            }
        }

        .card-box {
            margin-left: auto;
            margin-right: 8vw;

            .cards {
                display: flex;
                margin: 10px 0 10px 0;

                .card {
                    width: 14vw;
                    height: 44vh;
                    background-color: transparent;
                    margin: 0 5px 0 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;

                    &:hover {
                        img {
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            @include singleAnimation(1, cardHover, 0s, 0.3s);
                        }
                    }

                    .ff {
                        @include singleAnimation(1, notCardHover, 0s, 0.3s);
                    }

                    img {
                        width: 14vw;
                        height: 44vh;
                        position: relative;
                    }

                    .s1 {
                        top: 400px;
                        @include singleAnimation(1, cardFadeInDown, 0.4s, 0.7s);
                    }

                    .s2 {
                        right: 400px;
                        @include singleAnimation(1, cardFadeInLeft, 0.6s, 0.7s);
                    }

                    .s3 {
                        bottom: 400px;
                        @include singleAnimation(1, cardFadeInUp, 0.2s, 0.7s);
                    }

                    .s4 {
                        left: 400px;
                        @include singleAnimation(1, cardFadeInRight, 0.8s, 0.7s);
                    }

                    .s5 {
                        left: 400px;
                        @include singleAnimation(1, cardFadeInRight, 0.8s, 0.7s);
                    }

                    .s6 {
                        bottom: 400px;
                        @include singleAnimation(1, cardFadeInUp, 0.8s, 0.7s);
                    }

                    .s7 {
                        right: 400px;
                        @include singleAnimation(1, cardFadeInLeft, 0.2s, 0.7s);
                    }

                    .s8 {
                        bottom: 400px;
                        @include singleAnimation(1, cardFadeInUp, 0.6s, 0.7s);
                    }

                    .a1,
                    .a2,
                    .a3,
                    .a4,
                    .a5,
                    .a6,
                    .a7,
                    .a8 {
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                    }

                    .a1 {
                        @include singleAnimation(1, cardFadeOutUp, 0.2s, 0.7s);
                    }

                    .a2 {
                        @include singleAnimation(1, cardFadeOutLeft, 0.6s, 0.7s);
                    }

                    .a3 {
                        @include singleAnimation(1, cardFadeOutUp, 0.2s, 0.7s);
                    }

                    .a4 {
                        @include singleAnimation(1, cardFadeOutLeft, 0.8s, 0.7s);
                    }

                    .a5 {
                        @include singleAnimation(1, cardFadeOutUp, 0.8s, 0.7s);
                    }

                    .a6 {
                        @include singleAnimation(1, cardFadeOutLeft, 0.8s, 0.7s);
                    }

                    .a7 {
                        @include singleAnimation(1, cardFadeOutLeft, 0.2s, 0.7s);
                    }

                    .a8 {
                        @include singleAnimation(1, cardFadeOutUp, 0.6s, 0.7s);
                    }
                }
            }
        }
    }
}

canvas {
    border: 3px solid white;
    border-radius: 999px;
}

.item {
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}