@import './Animation.scss';

@keyframes changeOpacity {
    to {
        opacity: 1;
    }
}

@keyframes movePage {
    to {
        width: 100vw;
        left: 0px;
    }
}

@keyframes textClick {
    to {
        font-size: 200px;
        color: white;
    }
}

@keyframes textClick230 {
    to {
        font-size: 220px;
        color: white;
    }
}

@keyframes textUnClick {
    from {
        font-size: 200px;
        color: white;
    }

    to {
        font-size: 210px;
        -webkit-text-stroke: 2px;
        -webkit-text-stroke-color: white;
    }
}

@keyframes textUnClick230 {
    from {
        font-size: 220px;
        color: white;
    }

    to {
        font-size: 230px;
        -webkit-text-stroke: 2px;
        -webkit-text-stroke-color: white;
    }
}

.wrap {
    height: 100vh;
}

.home-wrap {
    @include singleAnimation(1, movePage, 0s, 2s);

    position: absolute;
    display: flex;
    left: 2000px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: black;

    .card-wrap {
        width: 100vw;
        height: 100vh;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        scroll-snap-align: center;
        scroll-snap-stop: always;

        .card-text {
            font-weight: 800;
            font-size: 210px;
            color: transparent;
            font-family: 'Noto Sans', sans-serif;
            position: absolute;
        }

        .all {
            @include singleAnimation(1, textUnClick, 0s, 0.4s);

            margin-top: -30vw;
            margin-right: 63vw;

            &:hover {
                @include singleAnimation(1, textClick, 0s, 0.4s);
            }
        }

        .me {
            @include singleAnimation(1, textUnClick, 0s, 0.4s);

            margin-right: 70vw;
            margin-top: -3vw;

            &:hover {
                @include singleAnimation(1, textClick, 0s, 0.4s);
            }
        }

        .ex {
            @include singleAnimation(1, textUnClick230, 0s, 0.4s);

            font-size: 230px;
            margin-top: 25vw;
            margin-right: 72vw;

            &:hover {
                @include singleAnimation(1, textClick230, 0s, 0.4s);
            }
        }
    }
}

canvas {
    border: 3px solid white;
    border-radius: 999px;
}